@model SnilsList21.Models.SnilsCreateViewModel

@{
    ViewData["Title"] = "Создать задачу";
}

<div>
    <form asp-antiforgery="true" asp-action="Create" method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="Number"></label>
            <input asp-for="Number" />
            <span asp-validation-for="Number"></span>
        </div>        
        <div>
            <input class="btn-success" type="submit" value="Создать" />
            <button type="submit" asp-controller="Snils" asp-action="Index">Назад</button>
        </div>
    </form>
</div>
