@model  IEnumerable<SnilsList21.Models.Snils>

@{
    ViewData["Title"] = "Главная";
}

        <div>
            <a class="abutton" asp-controller="Snils" asp-action="Create">Добавить СНИЛС</a>
            <h1>Список СНИЛС:</h1>
            <ul>
                @foreach (var item in Model)
                {
                    <li>@item.Number</li>
                }
            </ul>
        </div>
