body {
    font-family: Arial, "Hevetica Neue", Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding: 9px;
}

.abutton {
    display: inline-block;
    background: #8C959D; 
    color: #fff; 
    padding: 1rem 1.5rem;  
    text-decoration: none;  
    border-radius: 3px;  
    margin-right: 10px;
}

.message {
    color: red;
    margin-top: 2%;
    text-align: center;
}
